# The loopback network interface (always required)
auto lo
iface lo inet loopback

# Assign a static IP for this DHCP server through wlan0:
auto {{ hotspot_interface }}
iface {{ hotspot_interface }} inet static
    address {{ hotspot_dhcp.default_gw }}
    netmask {{ hotspot_dhcp.mask }}
    broadcast {{ hotspot_dhcp.broadcast }}
